  .time-line-ctnr {
  	.time-line {
		display: inline-block;
  		>.time-label {
  			>span {
  				font-weight: 600;
  				padding: 5px 10px;
  				background-color: #e74c3c;
  				color: #fff;
  				border-radius: 2px;
  				font-size: 14px;
  			}
  		}
  				.time {
					  display: inline;
  					font-size: 14px;
  					padding: 6px 10px;
					  color: #999;
  				}
  				.time-line-header {
  					margin: 0;
  					color: #555;
  					border-bottom: 1px solid #f4f4f4;
  					line-height: 1.1;
  				}
  			}


  		}
  