.channel-holder {
    height: 100%;
    width: 100%;
    // 	background: pink;
    .channel-logo {
        position: absolute;
        background: gray;
        left: 0;
        width: 50px;
        height: 50px;
        padding: 12px;
        text-align: center;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
        z-index: 1;
    }
}
