.timeline-container {
	position: relative;
	width: 100%;
	padding-left: 75px;
	overflow: hidden;

	.line {
		position: absolute;
		z-index: 20;
		width: 1px;
		background: yellow;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
	}
	.holder{
		 overflow-x: auto;
		 .time-holder {
		 	width: 2400px;
		 	background: #222;
			 color: white;
		 }
	
	}
}