.program {
    background-color: #464646;
    outline: 1px solid white;
	position: absolute;
	padding: 15px 0px;
    height: 75px;

    h3 {
        font-size: 14px;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time {
        font-size: 12px;
        color: #aaa;
    }
}