@import "../../../assets/styles/global-sytles.scss";
.program {
    background-color:$color-bg-content;
    outline: 1px solid $color-border;
	position: absolute;
    padding: 15px 0px 15px 5px;
    height: 75px;
    text-align: left;

    h3 {
        font-size: 14px;
        color: white;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .time {
        font-size: 14px;
        color: $color-paragraph;
    }
}